In [76]:
import pandas as pd 
import numpy as np 

#Center Columns

def load_and_process(url_or_path_to_csv_file): 
    
    
    # method Chain 1 (load data + fix missing values + naming columns + fixing strings)

    df = (pd.read_csv("../../data/raw/nomenclature.csv",delimiter=",", header=15)
      .dropna()
      .rename(columns= { "# TRANSLATORS: (Phoebe); Argonaut, founder and king of Pherae in Thessaly." : "Planet Name", "Unnamed: 1" : "ID", "Unnamed: 3" : "Planetary Feature", "Unnamed: 2" : "FeatureName",  "Unnamed: 4" : "Latitude of Center of Planetary Feature", "Unnamed: 5" : "Longitude of Center of Planetary Feature", "Unnamed: 6" : "Size of Planetary Feature(km)"})
    .reset_index()


     )


    # method Chain 2 (String cleaning in the 'Name of Planetary Feature Column') 

    df2 = (df
    .assign(FeatureName = lambda x: x['FeatureName'].str.replace('"', " ")
    .str.strip("_")
    .str.lstrip('(')
    .str.rstrip(')')
    .str.strip(',')
           ))


    # method Chain 3 (Split the Name of Planetary Feature Column + reorder Columns + sortBy new FeatureType Column)
     
    df3 = (df2
      .assign(FeatureType = lambda x: x['FeatureName'].str.split(",").str[1],
              FeatureName = lambda x: x['FeatureName'].str.split(",").str[0])
      .loc[:, ['Planet Name','ID','FeatureName','FeatureType', 'Planetary Feature', 'Latitude of Center of Planetary Feature','Longitude of Center of Planetary Feature','Size of Planetary Feature(km)']]
      .sort_values('FeatureType', ascending = True )
      .reset_index()

       
      )
    
    return df3














#df["Feature Type"].unique()

#df =(df.loc[:, "Name of Planetary Feature"].apply(lambda x: x.strip("_"))
#    .str.lstrip('(')
#    .str.rstrip(')')
#    .str.strip(','))

,index,Planet Name,ID,FeatureName,FeatureType,Planetary Feature,Latitude of Center of Planetary Feature,Longitude of Center of Planetary Feature,Size of Planetary Feature(km)
0,1357,Mars,4574.0,Pandorae Fretum,albedo feature,AL,-24.741878,44.000000,0.0
1,1459,Mars,6596.0,Xanthe,albedo feature,AL,9.884955,310.000000,0.0
2,1168,Mars,2132.0,Gehon,albedo feature,AL,14.831743,360.000000,0.0
3,1462,Mars,6639.0,Yaonis Regio,albedo feature,AL,-39.667248,40.000000,0.0
4,1165,Mars,4213.0,Nereidum Fretum,albedo feature,AL,-44.661768,305.000000,0.0
...,...,...,...,...,...,...,...,...,...
95,1218,Mars,1522.0,Diacria,albedo feature,AL,49.666565,180.000000,0.0
96,1185,Mars,1103.0,Ceraunius,albedo feature,AL,19.783566,267.000000,0.0
97,248,Mercury,4682.0,Phaethontias,albedo feature,AL,0.000000,193.000122,0.0
98,1271,Mars,2639.0,Icaria,albedo feature,AL,-39.667248,230.000000,0.0
99,1404,Mars,5795.0,Syrtis Major,albedo feature,AL,9.884955,70.000000,0.0