In [10]:
import pandas as pd 
import numpy as np 

data = pd.read_csv("../../data/raw/nomenclature.csv")

data.head

<bound method NDFrame.head of                                                        # Unnamed: 1  \
0                 # Nomenclature for Solar system bodies        NaN
1                                                      #        NaN
2      # Nomenclature data was obtained from the web ...        NaN
3                                                      #        NaN
4      # One rule per line. Each rule contains seven ...        NaN
...                                                  ...        ...
31356                                              Pluto      15925
31357  # TRANSLATORS: (Pluto); Francesco; Italian ast...        NaN
31358                                              Pluto      15926
31359  # TRANSLATORS: (Mercury); American singer and ...        NaN
31360                                            Mercury      15937

                   Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0                         NaN        NaN         NaN         NaN         NaN
1                         NaN        NaN         NaN         NaN         NaN
2                         NaN        NaN         NaN         NaN         NaN
3                         NaN        NaN         NaN         NaN         NaN
4                         NaN        NaN         NaN         NaN         NaN
...                       ...        ...         ...         ...         ...
31356  _("Pulfrich","crater")         AA       77.80      135.99        37.7
31357                     NaN        NaN         NaN         NaN         NaN
31358     _("Zagar","crater")         AA       -5.74      155.23        93.0
31359                     NaN        NaN         NaN         NaN         NaN
31360     _("Berry","crater")         AA       70.57      247.27        25.0

[31361 rows x 7 columns]>

In [23]:

newData = data.dropna()


newData.head()

,#,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
15,Phoebe,55,"_(""Admetus"",""crater"")",AA,11.4,320.9,58.0
17,Phoebe,241,"_(""Amphion"",""crater"")",AA,-27.0,358.2,18.0
19,Phoebe,28,"_(""Acastus"",""crater"")",AA,9.6,211.5,34.0
21,Phoebe,4167,"_(""Nauplius"",""crater"")",AA,31.5,118.5,24.0
23,Phoebe,933,"_(""Butes"",""crater"")",AA,-49.6,67.5,29.0