In [102]:
import pandas as pd 
import numpy as np 

#Center Columns



    # method Chain 1 (load data + fix missing values + naming columns + fixing strings)

df = (pd.read_csv("../../data/raw/nomenclature.csv",delimiter=",", header=15)
      .dropna()
      .rename(columns= { "# TRANSLATORS: (Phoebe); Argonaut, founder and king of Pherae in Thessaly." : "Planet Name", "Unnamed: 1" : "ID", "Unnamed: 3" : "Planetary Feature", "Unnamed: 2" : "Feature Name",  "Unnamed: 4" : "Latitude of Center of Planetary Feature", "Unnamed: 5" : "Longitude of Center of Planetary Feature", "Unnamed: 6" : "Size of Planetary Feature(km)"})
      .sort_values('Feature Name', ascending = True )
    .reset_index()


     )


    # method Chain 2 (String cleaning in the 'Name of Planetary Feature Column') 

    

df["Feature Name"] = (df["Feature Name"].apply(lambda x: x.strip("_")
            .replace('"', " ")                       
            .lstrip('(')
            .rstrip(')')
            .strip(','))
            )

    # method Chain 3 (Split the Name of Planetary Feature Column)
    

df[['Feature Name','Feature Type']] = df['Feature Name'].str.split(',', expand = True)

cols = ['Planet Name','ID','Feature Name','Feature Type', 'Planetary Feature', 'Latitude of Center of Planetary Feature','Longitude of Center of Planetary Feature','Size of Planetary Feature(km)']

df = df.reindex(columns=cols)


df.head(100)

#df["Feature Type"].unique()

#df =(df.loc[:, "Name of Planetary Feature"].apply(lambda x: x.strip("_"))
#    .str.lstrip('(')
#    .str.rstrip(')')
#    .str.strip(','))

,Planet Name,ID,Feature Name,Feature Type,Planetary Feature,Latitude of Center of Planetary Feature,Longitude of Center of Planetary Feature,Size of Planetary Feature(km)
0,Moon,9340.0,8 Homeward,crater,AA,-12.024855,97.093180,12.5243
1,Mathilde,1.0,Aachen,crater,AA,9.200000,299.100000,4.8000
2,Rhea,2.0,Aananin,crater,AA,34.900000,20.100000,0.0000
3,Titan,6981.0,Aaru,albedo feature,AL,10.000000,20.000000,0.0000
4,Io,3.0,Ababinili Patera,patera,PE,12.781928,217.828373,103.6270
...,...,...,...,...,...,...,...,...
95,Mars,34.0,Acheron Catena,catena,CA,37.473952,259.203515,421.7700
96,Mars,35.0,Acheron Fossae,fossa,FO,38.274166,224.976202,703.1110
97,Tethys,14405.0,Achilles,crater,AA,0.600000,35.620000,58.6000
98,Ceres,15376.0,Achita,crater,AA,25.817871,65.957520,40.0000
99,Mars,36.0,Acidalia Colles,collis,CO,50.336043,336.911403,356.3030