In [59]:
import pandas as pd 
import numpy as np 


# method Chain 1 (load data + fix missing values + naming columns + fixing strings)

df = ( pd.read_csv("../../data/raw/nomenclature.csv",delimiter=",", header=15)
      .dropna()
      .reset_index()
      .rename(columns={ "# TRANSLATORS: (Phoebe); Argonaut, founder and king of Pherae in Thessaly." : "Planet Name", "Unnamed: 1" : "ID", "Unnamed: 3" : "Planetary Feature", "Unnamed: 2" : "NPF",  "Unnamed: 4" : "Latitude of Center of Planetary Feature", "Unnamed: 5" : "Longitude of Center of Planetary Feature", "Unnamed: 6" : "Size of Planetary Feature (km)"})
     )
# deal with the Planetary feature column 

df["NPF"] = df['NPF'].apply(lambda x: x.strip("_").lstrip('(').rstrip(')'))


df

,index,Planet Name,ID,NPF,Planetary Feature,Latitude of Center of Planetary Feature,Longitude of Center of Planetary Feature,Size of Planetary Feature (km)
0,0,Phoebe,55.0,"""Admetus"",""crater""",AA,11.40,320.90,58.00
1,2,Phoebe,241.0,"""Amphion"",""crater""",AA,-27.00,358.20,18.00
2,4,Phoebe,28.0,"""Acastus"",""crater""",AA,9.60,211.50,34.00
3,6,Phoebe,4167.0,"""Nauplius"",""crater""",AA,31.50,118.50,24.00
4,8,Phoebe,933.0,"""Butes"",""crater""",AA,-49.60,67.50,29.00
...,...,...,...,...,...,...,...,...
15667,31337,Charon,15928.0,"""McCaffrey Dorsum"",""dorsum""",DO,74.28,294.89,420.00
15668,31339,Pluto,15924.0,"""Hardaway"",""crater""",AA,46.85,140.97,11.07
15669,31341,Pluto,15925.0,"""Pulfrich"",""crater""",AA,77.80,135.99,37.70
15670,31343,Pluto,15926.0,"""Zagar"",""crater""",AA,-5.74,155.23,93.00
15671,31345,Mercury,15937.0,"""Berry"",""crater""",AA,70.57,247.27,25.00