In [14]:
import pandas as pd
df = pd.read_csv('../../data/raw/nomenclature.csv', header=None,skiprows=15)
df.head()

,0,1,2,3,4,5,6
0,"# TRANSLATORS: (Phoebe); Argonaut, founder and...",NaN,NaN,NaN,NaN,NaN,NaN
1,Phoebe,55.0,"_(""Admetus"",""crater"")",AA,11.4,320.9,58.0
2,"# TRANSLATORS: (Phoebe); Argonaut, son of Hype...",NaN,NaN,NaN,NaN,NaN,NaN
3,Phoebe,241.0,"_(""Amphion"",""crater"")",AA,-27.0,358.2,18.0
4,"# TRANSLATORS: (Phoebe); Argonaut, son of the ...",NaN,NaN,NaN,NaN,NaN,NaN